/credentials.r
/data/
/figures/
/biotinidase_paper_lot.bbl
/biotinidase_paper_lot.pdf
/biotinidase_paper_lot.spl
/.Rhistory
/biotinidase_paper_lot.docx
/biotinidase_paper_lot.txt
/review_comments.org
/CLB-D-22-00130_R1 (3).pdf
/review_comments.bbl
/review_comments.pdf
/review_comments.tex
/review_response.pdf
